<h2>Admin Sections</h2>
<ul>
	<li><%= link_to "Gigs Admin", gigs_admin_path %></li>
	<li><%= link_to "Songs Admin", songs_admin_path %></li>
	<li><%= link_to "Galleries Admin", galleries_admin_path %></li>
	<li><%= link_to "Videos Admin", videos_admin_path %></li>
	<li><%= link_to "Users Admin", users_path %></li>
</ul>