<div class="text">
	<h1>Add new gallery</h1>

	<%= form_for @gallery do |f| %>
	  <% if @gallery.errors.any? %>
	    <div class="error_messages">
	      <h2>Form is invalid</h2>
	      <ul>
	        <% for message in @gallery.errors.full_messages %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <p>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </p>
	  <p class="button"><%= f.submit %></p>
	<% end %>
</div>	
